STARTTLS with client and server authentication

Hello together, 

I am just trying to figure out whether libstrophe supports STARTTLS with mutual authentication of server and client like mTLS.

I have found there is a [xmpp_conn_set_client_cert()](https://strophe.im/libstrophe/doc/0.11.0/group___t_l_s.html#ga508e9d6fa6b993e337b62af42cb655f6) function to set a certificate and key file for the client, but it seems it can only be used for SASL authentication.

A corresponding request using OpenSSL STARTTLS would like:
`openssl s_client -connect <host>:5222 -cert cert.pem -key key.pem -CAfile ca.pem -state -starttls xmpp`

Does libstrophe support such an use case? If yes, could you please provide me with an example?

Best regards

That's what SASL EXTERNAL is about.

Please read https://xmpp.org/extensions/xep-0178.html for further details. 

Excerpt of Ch. 2:

> [...]
> 6. Server requests, and client presents, the client certificate during TLS negotiation.
> 7. Server and client successfully complete the TLS negotiation and client initiates a new initial stream header to server over the encrypted TCP connection.
> [...]
> 9. Server advertises SASL mechanisms. Because the client presented a client certificate, here the server offers the SASL EXTERNAL mechanism (see Section 6.3.4 of RFC 6120 for recommendations regarding the conditions under which to offer the SASL EXTERNAL mechanism).
> [...]

> Does libstrophe support such an use case? 

Yes it does.

> If yes, could you please provide me with an example?

Check `example/complex.c` for a usage example, you'd need a correctly configured server to do that.